<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>Categoria</title>
</head>

<body>

    <header></header>

    <main>
        <section id="entrada">
            <h2>OFF ROAD</h2>
        </section>
    </main>


    <section id="bmw">
        <h2>BMW</h2>
        <article class="c-carousel">
            <div class="c-carousel__slides js-carousel--bmw">
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </section>


    <section id="mercedes">
        <h2>MERCEDES</h2>
        <article class="c-carousel">
            <div class="c-carousel__slides js-carousel--mercedes">
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </section>

    <section id="audi">
        <h2>AUDI</h2>
        <article class="c-carousel">
            <div class="c-carousel__slides js-carousel--audi">
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </section>

    <section id="ferrari">
        <h2>FERRARI</h2>
        <article class="c-carousel">
            <div class="c-carousel__slides js-carousel--ferrari">
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </section>

    <section id="lamborghini">
        <h2>lamborghini</h2>
        <article class="c-carousel">
            <div class="c-carousel__slides js-carousel--lamborghini">
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </section>

    <section id="jeep">
        <h2>JEEP</h2>
        <article class="c-carousel">
            <div class="c-carousel__slides js-carousel--jeep">
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </section>

    <section id="land-rover">
        <h2>LAND ROVER</h2>
        <article class="c-carousel">
            <div class="c-carousel__slides js-carousel--land-rover">
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </section>

    <section id="porsche">
        <h2>PORSCHE</h2>
        <article class="c-carousel">
            <div class="c-carousel__slides js-carousel--porsche">
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__slide">
                    <div class="produto">
                        <div class="head--produto">
                            <img src="" alt="" class="img--produto">
                        </div>

                        <div class="footer-produto">
                            <div class="nome--ano">
                                <p>Bmw</p>
                                <span><i class="fa-solid fa-calendar-days orange"></i> 2023</span>
                            </div>
                            <div class="valor--produto">
                                <span>R$ 225.000,00</span>
                            </div>
                            <div class="icones">
                                <span><img src="./assets/imgs/icongas.svg" alt="" srcset=""> Gasolina</span>
                                <span><img src="./assets/imgs/iconcambio.svg" alt="" srcset=""> Automático</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </section>


    <footer></footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
        integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="../assets/js/app.js"></script>

    <script>
        const $CarouselBmw = document.querySelector('.js-carousel--bmw')
        const $CarouselMercedes = document.querySelector('.js-carousel--mercedes')
        const $CarouselFerrari = document.querySelector('.js-carousel--ferrari')
        const $CarouselLamborghini = document.querySelector('.js-carousel--lamborghini')
        const $CarouselPorsche = document.querySelector('.js-carousel--porsche')
        const $CarouselAudi = document.querySelector('.js-carousel--audi')
        const $CarouselLandRover = document.querySelector('.js-carousel--land-rover')
        const $CarouselJeep = document.querySelector('.js-carousel--jeep')

        new Glider($CarouselBmw, {
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable: true,
            //scrollLock: true,
            responsive: [{
                breakpoint: 675,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                }
            }, {
                breakpoint: 950,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                }
            },
            {
                breakpoint: 1410,
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 5,
                }
            }]
        })

        new Glider($CarouselMercedes, {
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable: true,
            responsive: [{
                breakpoint: 675,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                }
            }, {
                breakpoint: 950,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                }
            },
            {
                breakpoint: 1410,
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 5,
                }
            }]
        })
   

        new Glider($CarouselAudi, {
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable: true,
            //scrollLock: true,
            responsive: [{
                breakpoint: 675,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                }
            }, {
                breakpoint: 950,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                }
            },
            {
                breakpoint: 1410,
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 5,
                }
            }]
        })

        new Glider($CarouselFerrari, {
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable: true,
            responsive: [{
                breakpoint: 675,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                }
            }, {
                breakpoint: 950,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                }
            },
            {
                breakpoint: 1410,
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 5,
                }
            }]
        })

        new Glider($CarouselJeep, {
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable: true,
            responsive: [{
                breakpoint: 675,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                }
            }, {
                breakpoint: 950,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                }
            },
            {
                breakpoint: 1410,
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 5,
                }
            }]
        })

        new Glider($CarouselLandRover, {
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable: true,
            responsive: [{
                breakpoint: 675,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                }
            }, {
                breakpoint: 950,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                }
            },
            {
                breakpoint: 1410,
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 5,
                }
            }]
        })

        new Glider($CarouselLamborghini, {
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable: true,
            responsive: [{
                breakpoint: 675,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                }
            }, {
                breakpoint: 950,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                }
            },
            {
                breakpoint: 1410,
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 5,
                }
            }]
        })

        new Glider($CarouselPorsche, {
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable: true,
            responsive: [{
                breakpoint: 675,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                }
            }, {
                breakpoint: 950,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                }
            },
            {
                breakpoint: 1410,
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 5,
                }
            }]
        })

        
   </script>
</body>

</html>