<div class="modal fade" id="modalCart" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCart" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
      <div class="modal-content ">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalCart">Carrinho de Compras</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="lista-produtos" id="lista-produtos">
            <!-- <div class="product-card">
              <div class="image-product">
                <img src="" alt="">
              </div>
              <div class="product-data">
                <p class="product-title">Titulo</p>
                <span class="product-description">Breve descrição</span>
                <p class="product-value">R$25684,00</p>
                
              </div>
              <div class="icons-product">
                <a href="#" class="remove-product"><i class="fa-solid fa-trash-can orange"></i></a>
              </div>
            </div> -->
          </div>
        </div>
        <div class="d-grid gap-2 p-4">
          <button type="button" class="btn orange btn-dark btn-sm-block">Confirmar Compras</button>
        </div>
      </div>
    </div>
</div>