<div class="modal fade" id="modalCart" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCart" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down ">
      <div class="modal-content ">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalCart">Carrinho de Compras</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="cart-body">
            <div class="map">
              <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29399.85321359829!2d-47.08872026523437!3d-22.91404760000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8c8c794884427%3A0x15a2759628f243d1!2sEscola%20e%20Faculdade%20de%20Tecnologia%20Senai%20%22Roberto%20Mange%22!5e0!3m2!1spt-BR!2sbr!4v1686592449157!5m2!1spt-BR!2sbr" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
              <a id="btn-rota" class="btn btn-outline-primary" onclick="rota()">Rota mais rápida</a>
            </div>
          <div class="lista-produtos" id="lista-produtos">
          </div>
          </div>
        </div>
        <div class="d-grid gap-2 p-4">
          <button type="button" class="btn orange btn-dark btn-sm-block">Confirmar Compras</button>
        </div>
      </div>
    </div>
</div>