@import url(./configs.css);


#entrada{
    margin-top: 70px;
    width: 100%;
    height: 55vh;
    background-color: #0f0e0f;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#entrada h1{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}

#entrada p{
    font-size: 0.9rem;
    width: 80%;
    text-align: center;
    font-weight: 400;
}

#destaques{
    /* height: 250px; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#destaques h2{
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-left: 02%;
    font-weight: bold;
}

.c-carousel{
    margin-bottom: 20px;
    max-width: 100%;
    border: none;
}

.c-carousel__slides{
    /* border: 1px solid #a89cc8; */
}

.c-carousel__slide{
    align-items: center;
    color: #a89cc8;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    font-size: 60px;
}
.produto{
   
    width: 300px;
    padding: 10px 15px;
    background-color: var(--dark);
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--orange);
}

.head--produto{
    border-radius: 22px 22px 0px 0px;
    width: 280px;
    height: 150px;
    background-color: #eeee;
}

.img--produto{

}

.footer-produto{
    width: 100%;
}

.nome--ano{
    display: flex;
    justify-content: space-between;
}

.nome--ano p,.nome--ano span{
    margin-bottom: 0;
    font-size: 0.95rem;
}

.valor--produto span{
    font-size: 1rem;
}

.icones{
    margin-top: 10px;
    display: flex;
    width: 65%;
    justify-content: space-between;
}

.icones span{
    display: flex;
    align-items: end;
    font-size: 0.5rem;
    color: #CCCCCC;
}

.icones span img{
    width: 18px;
}

.icones span img{
    margin-right: 5px;
}

@media only screen and (max-width: 450px) {
    #entrada h1{
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: bold;
    }
    
    #entrada p{
        font-size: 0.65rem;
        width: 80%;
        text-align: center;
    }
  }