@import url(./configs.css);


#entrada{
    margin-top: 70px;
    width: 100%;
    height: 50vh;
    background-color: #0f0e0f;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#entrada h1{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}

#entrada p{
    font-size: 0.9rem;
    width: 80%;
    text-align: center;
    font-weight: 400;
}


@media only screen and (max-width: 450px) {
    #entrada h1{
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;
    }
    
    #entrada p{
        font-size: 0.5rem;
        width: 80%;
        text-align: center;
    }
  }