<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid px-4 py-1">
        <a class="navbar-brand" id="logo" href="../../../index.html"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=" orange"><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse  navbar-collapse nav justify-content-lg-end justify-content-sm-start"
            id="navbarSupportedContent">
            <ul class=" navbar-nav me-2 mb-2 mb-lg-0 gap-lg-5 gap-sm-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Categorias
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Off-road</a></li>
                        <li><a class="dropdown-item" href="#">Esportivos</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Marcas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Ferrari</a></li>
                        <li><a class="dropdown-item" href="#">Mercedes</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"><i class="fa-solid fa-cart-shopping"></i><span
                            class="d-sm-block d-lg-none pl-2"> Carrinho</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>